// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// Define the font variable
$font-primary: 'Noto Sans JP', sans-serif;

// Apply the font to the whole page
* {
  font-family: $font-primary;
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
}

.portrait-title h2,
.portrait-title h3,
.portrait-title a {
  font-family: $font-primary;
}